# List comprehension

In [2]:
my_string="sunny savita"

In [3]:
my_list=[]

In [4]:
for i in my_string:
    my_list.append(i)
print(my_list)

['s', 'u', 'n', 'n', 'y', ' ', 's', 'a', 'v', 'i', 't', 'a']

In [5]:
[x for x in my_string]

['s', 'u', 'n', 'n', 'y', ' ', 's', 'a', 'v', 'i', 't', 'a']

# wap that produce square of numbers 1 to 5, store them into list and print list

In [7]:
numbers=[1,2,3,4,5]
[x*x for x in numbers]

[1, 4, 9, 16, 25]

In [9]:
result=[]
numbers=[1,2,3,4,5]
for i in numbers:
    result.append(i*i)
print (result)

[1, 4, 9, 16, 25]

In [11]:
result=[]
for x in range(1,11):
    result.append(x**2)
print(result)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [12]:
numbers= range (1,11)
[x**2 for x in numbers]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [14]:
[x**2 for x in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# wap which accept a string from the User and convert each word in uppercase, store in the list and print it

In [26]:
# for loop
result=[]
string=input("Enter a string")
string=string.split()
for x in string:
    result.append(x.upper())
    
#string=string.upper()
print(result)

Enter a string kksklskl skjskjskl

['KKSKLSKL', 'SKJSKJSKL']

In [27]:
# comprehension
string=input("Enter a string")
string=string.split()
[x.upper() for x in string]

Enter a string djjdjd sjjss

['DJJDJD', 'SJJSS']

In [31]:
#for loop - right decision
my_string=input("Enter a string:")
my_list=[]
for x in my_string:
    my_list.append(x.upper())
print(my_list)

Enter a string: ksjslskl slkslsk

['K', 'S', 'J', 'S', 'L', 'S', 'K', 'L', ' ', 'S', 'L', 'K', 'S', 'L', 'S', 'K']

In [33]:
#comprehension
my_string=input("Enter a string:")
[x.upper() for x in my_string]

Enter a string: dkkddjk sklsks

['D', 'K', 'K', 'D', 'D', 'J', 'K', ' ', 'S', 'K', 'L', 'S', 'K', 'S']

# wap that produce square only of odd numbers fron 1 to 50, store then into list and print list

In [34]:
# for loop
my_list=[]
for i in range(1,51):
    if i%2!=0:
        my_list.append(i**2)
print(my_list)

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361, 441, 529, 625, 729, 841, 961, 1089, 1225, 1369, 1521, 1681, 1849, 2025, 2209, 2401]

In [39]:
# comprehension
[i**2 for i in range(1,51) if i%2!=0]

[1,
 9,
 25,
 49,
 81,
 121,
 169,
 225,
 289,
 361,
 441,
 529,
 625,
 729,
 841,
 961,
 1089,
 1225,
 1369,
 1521,
 1681,
 1849,
 2025,
 2209,
 2401]

# Homework
Create a function called removevowels() which accept a string as argument and return a list with all the vowels removed fron the string
1) for loop
2) list comprehension

# tuple

In [1]:
mytuple=()

In [2]:
mytuple

()

In [3]:
mytuple=(1,2,3,4,677,89,9)

In [4]:
mytuple

(1, 2, 3, 4, 677, 89, 9)

In [5]:
mytuple=(12,"vanya", True, 10.5, 3j+7)

In [6]:
mytuple

(12, 'vanya', True, 10.5, (7+3j))

In [7]:
mytuple=(10)
type(mytuple)

int

In [8]:
mytuple2=(10,)

In [9]:
type(mytuple2)

tuple

In [12]:
#concept of packing and unpacking
a=1,2,3,4

In [11]:
a

(1, 2, 3, 4, 5)

In [13]:
x,y,z,h=a

In [14]:
x

1

In [15]:
y

2

In [16]:
z

3

In [17]:
h

4

In [19]:
mytuple=345,3,3,5,3,2,22,4455,9

In [20]:
print(mytuple)

(345, 3, 3, 5, 3, 2, 22, 4455, 9)

In [21]:
mytuple[3]

5

In [22]:
mytuple[-2]

4455

In [23]:
mytuple[4:7]

(3, 2, 22)

In [28]:
mynums=([1,2],3,4,5,6,7)

In [26]:
mynums[2]=100

TypeError: 'tuple' object does not support item assignment

In [31]:
mynums[0][1]

2

In [32]:

mynums[0][1]=100
mynums

([1, 100], 3, 4, 5, 6, 7)

In [33]:
a=(4,2,3)
b=(4,3,5)

In [34]:
a<b

True

# set

In [37]:
myset={1,2,3,4,56,7,7}

In [38]:
myset

{1, 2, 3, 4, 7, 56}

In [39]:
myset[0]

TypeError: 'set' object is not subscriptable

In [41]:
myset[0:4]

TypeError: 'set' object is not subscriptable

In [1]:
set([1,2,3,4,5,6])

{1, 2, 3, 4, 5, 6}

In [2]:
set((1,2,3,4,5,6,5,4,3,))

{1, 2, 3, 4, 5, 6}

In [3]:
myset.add(18888)

NameError: name 'myset' is not defined

In [4]:
myset={1,2,3,4,56,7,7}

In [5]:
myset.add(18888)

In [6]:
myset

{1, 2, 3, 4, 7, 56, 18888}

In [7]:
myset.copy()

{1, 2, 3, 4, 7, 56, 18888}

In [8]:
myset.clear()

In [9]:
myset

set()

#pop() # remove() # update()