In [1]:
def addtwonumber():
    a=100
    b=272822
    c=a+b
    print(c)

In [4]:
#functioncall
addtwonumber()

272922

In [7]:
def addtwonumbers():
    a=input("Enter the first number")
    b=input("Enter the second number")
    c=int(a)+int(b)
    print(c)

In [8]:
addtwonumbers()

Enter the first number 12
Enter the second number 12

24

# WAP that accept integer and display the absolute value

In [12]:
def absolute():
    a=int(input("Enter the number"))
    if a>0:
        print("Absolute value is", a)
    else:
        print("Absolute value is", -a)

In [13]:
absolute()

Enter the number 13

Absolute value is 13

In [14]:
absolute()

Enter the number -2

Absolute value is 2

In [15]:
absolute()

Enter the number 0

Absolute value is 0

In [18]:
def absolute(x):   
    if x>0:
        print("Absolute value is", x)
    else:
        print("Absolute value is", -x)

In [19]:
absolute(-12)

Absolute value is 12

In [20]:
absolute(0)

Absolute value is 0

In [21]:
abs(-12)

12

In [23]:
myvariable=addtwonumber()

272922

In [24]:
print(myvariable)

None

In [25]:
return(myvariable)

SyntaxError: 'return' outside function (4023144089.py, line 1)

In [3]:
def fullname(a,b):
    c=a+b
    print(c)
    return "done"

In [4]:
myvariable=fullname("vanya", "tseretyan")

vanyatseretyan

In [5]:
print(myvariable)

done

# by default function returns None

In [7]:
def fullname(a,b):
    c=a+b
    return c

In [8]:
myvariable=fullname("vanya", "tseretyan")

In [9]:
print(myvariable)

vanyatseretyan

In [10]:
def addtwonumber():
    a=100
    b=272822
    c=a+b
    return c

In [11]:
addtwonumber()

272922

In [12]:
myvariable=addtwonumber()

In [13]:
print(myvariable)

272922

In [14]:
def addtwonumber():
    a=100
    b=272822
    c=a+b
    return a,b,c

In [15]:
myvariable=addtwonumber()

In [16]:
print(myvariable)

(100, 272822, 272922)

In [19]:
a_value, b_value, addition_of_values=addtwonumber()

In [20]:
print(a_value, b_value, addition_of_values, sep=" ")

100 272822 272922

# call the function to calculate and return the factoriial of the number given by the user

In [55]:
def factorial(a):
    i=1
    fac=1
    while i<=a:
        fac=fac*i
        i=i+1
    return fac

In [61]:
factorial(0)

1

In [62]:
def factorial(a):
    i=1
    fac=1
    while i<=a:
        fac=fac*i
        i=i+1
    #return fac
    print(fac)

In [63]:
factorial(2)

2

In [64]:
def nos(a,b,c=0,d):
    return a*b*c*d

SyntaxError: non-default argument follows default argument (2818796142.py, line 1)

In [65]:
def nos(a,b,d,c=0):
    return a*b*c*d

In [66]:
nos(1,3,6)

0

In [67]:
def nos (*a):
    return a

In [68]:
nos(10,20,30,40)

(10, 20, 30, 40)

In [69]:
def nos (*a):
    print(type(a))
    return a

In [70]:
nos(10,20,30,40,34,4,5,5,5,6,6,4,3)

<class 'tuple'>

(10, 20, 30, 40, 34, 4, 5, 5, 5, 6, 6, 4, 3)

In [71]:
def nos (*a):
    print(type(a))
    return sum(a)

In [72]:
nos(10,20,30,40,34,4,5,5,5,6,6,4,3)

<class 'tuple'>

172

In [73]:
def nos (*a):
    mul=1
    for i in a:
        mul=mul*i
    return mul

In [74]:
nos(10,20,30,40)

240000

In [75]:
def greet(name, msg="Good norning"):
    print("Hello",name,msg)

In [77]:
greet("Ivan")

Hello Ivan Good norning

In [78]:
greet("Ivan", "Have a nice day") #overwrite

Hello Ivan Have a nice day

In [80]:
def cal_area(radius, pi=3.14):
    square=pi*radius**2
    print("The square is", square)

In [81]:
cal_area(2)

The square is 12.56

In [95]:
def find_largest(*a):    
    return len(max(a, key=len))

In [96]:
find_largest("aaaaaa", "bbbbbbbb", "aaaaaaaaaaaaa")

13